dash==1.13.4
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.1
dash-table==4.8.1
Flask==1.1.2
Flask-Compress==1.5.0
Flask-SQLAlchemy==2.4.4
importlib-metadata==1.7.0
mysql-connector-python==8.0.21
numpy==1.19.0
pandas==1.0.5
plotly==4.8.2
pyodbc==4.0.30
scipy==1.4.0
uwsgi
